.row{
    padding-top: 25px !important;
}
input[type="text"], input[type="password"]{
    background-color: beige !important; 
}
.dimension{
    width: 50rem !important;
}

.rettangolo-evento{
    background-color: #E4BB19; /* Colore del rettangolo */
    padding: 20px;              /* Spazio interno */
    width: 1920px;               /* Larghezza */
    height: 440px;              /* Altezza */
    text-align: center;  
}

.visible {
    display: block;
 }
 
 .hidden {
    display: none;
 }

 #colorHome{
    background-color:#fffdd0;
 }